<html>

<head>
	<meta charset="utf-8">
	<title> Riot Games - Queen Liline's profile </title>

	<script type ="text/javascript" src ="summoner.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body>
<p>My message: </p>
	<script>
		
		//var initData = body;
	
		$.ajax({
			  url: '/',
			  complete: function(data) {
			    console.log(data);
			    alert(data);
		  }
		});

		/*$.get("/search", function (string) {
			alert("load performed");

		})*/
	</script>
	
</body>

</html>